
<!DOCTYPE html>
<html>
  <head>
  <meta name="google-site-verification" content="EV8XaWJLIAN4UWa0QCe9OOdr8iINFRMxk-yAxn6BCcc" />
  <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-auth.js"></script>

<link type="text/scss" rel="stylesheet" src="/app/assets/stylesheets/firebase.scss" />

<%= javascript_include_tag('config.js') %>

<script src="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.css" />

<%= javascript_include_tag('firebase.js') %>

    <title>Team Creator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
    <div id="sign-in-status"></div>
     <img id="photo"></img>
    <button id="sign-in"></button>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
